@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

*{
    box-sizing: border-box;
    padding:0;
}

body{
    color:#222;
    font-family: "Ubuntu", "sans-serif";
    overflow-x: hidden;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


