@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: #efedd6;
    font-family: "Roboto", "sans-serif";
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

