@import url('https://fonts.googleapis.com/css?family=Heebo&display=swap');

:root{
    --primary-color:#000;
    --secondary-color:#fff;
}

*{
    box-sizing: border-box;

}


body{
    font-family: "Heebo",sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    margin:0;

}

